@tailwind base;
@tailwind components;
@tailwind utilities;

    #root{
        background-color: #F3F6FF;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #f0f0f0;
    }

    ::-webkit-scrollbar-thumb {
        background: #FF914D;
        border-radius: 3px;
    }